/* *{
    margin: 0;
    padding: 0;
    
}
.wrapper{
    height: 300px;
    width: 300px;
    position: relative;
    border:5px solid #fff;
    border-radius: 50%;
    background-size: 100% 100%;
    margin: 100px auto;
    overflow: hidden;
}
.my_file{
position: absolute;
bottom: 0;
outline: none;
color: transparent;
width: 100%;
box-sizing: border-box;
padding: 15px 120px ;
cursor: pointer;
transition: 0.5s;
}
.my_file::-webkit-file-upload-button{
    visibility: hidden;
} */