
/* .bg{
    background-image: url( "../assets/img/mai2.jpg");
} */
/* .footer{
    display: flex;
     background-image: logo2;
    
}
.footer div{
    margin: 60px;
}
    

.logoo img{
    height: 30vh;
    width:20 ;
}

.curved{
    background-color:#2D3A50;
    color:orange;
    text-align: center;


}
.curved svg{
display: block;
height: 20%;
}
a{
    color:orange;
}
h4{
    color:orange;
}
.div-2{
   text-align: right; 
    
    
}
.div3{
background-color: aquamarine;
display: flex;

}
img{
width:1000px;
height: 900px;
padding-top: 0px;
margin-left: 900px;

}

.leftm b{
    font-weight: 900;
   font-size: 70px;
   
}
.div1 {
    background-color: #92a8d1;
    height: 900px;
    display: flex;
}
.learn-maore{
    background-image: url("../assets/img/mai2.jpg");

}


 */
