/* .Header  {
    display: flex;
    background-color:black ;
    background-size: cover;
    color: rgb(223, 82, 82);
    

}
.Header div{
    margin:30px;
}
.home{
    float:right;
    padding-left: 50%;
}
.content {
    display:flex;
    margin:30%;
}

 */
